body {
    background-image: url('../images/main_background.png');
    background-repeat: no-repeat;
    background-size: cover;
}
/*text-decoration: none removes the underline of the link */
body a{
    text-decoration: none;
}
#header {
  transition: all 0.5s;
  z-index: 997;
  padding:0px;
}

#header .logo {
  font-size: 28px;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 0.5px;
}

#header .logo img {
  max-height: 40px;
}

#header .gameLogo img {
  max-width: 250px;
  max-height: 150px;
}
.container {
  padding-top: 50px;
  top: 50%;
  left: 50%;
}
#difficultyText{
  text-align: center;
  font-size: 56px;
  font-weight: bold;
  color: rgba(235, 238, 74, 0.877);
}
.menurow{
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px 1px;
  justify-content: center;
  align-items: center;
}
.menurow img{
  height: 100px;
  width: 400px;
}
.grid-item{
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.linkText{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 48px;
}
.grid-item a:link{
  color: rgb(9, 192, 116);
}
.grid-item a:visited{
  color: rgb(71, 193, 227);
}
.grid-item a:hover{
  color: rgb(216, 135, 200);
}
.grid-item a:active{
  color: rgb(174, 151, 242);
}

  /*
Mobile (Smartphone) max-width: 480px.
Low-Resolution Tablets and iPads max-width: 767px.
Tablets iPads portrait mode max-width: 1024px.
Desktops max-width: 1280px.
Huge size (Larger screen) max-width: 1281px and greater.
https://www.geeksforgeeks.org/how-to-target-desktop-tablet-and-mobile-using-media-query/
*/
@media only screen and (max-width: 1280px) {
  body {
      background-image: url('../images/main_background.png');
   
      background-repeat: no-repeat;
      background-size: auto;
  }
}
@media only screen and (max-width: 480px) {
  body {
      background-image: url('../images/main_background.png');
      
      background-repeat: no-repeat;
      background-size: auto;
  }
}
@media only screen and (max-width: 1024px) {
  body {
      background-image: url('../images/main_background.png');
      
      background-repeat: no-repeat;
      background-size: auto;
  }
}
@media only screen and (max-width: 767px) {
  body {
      background-image: url('../images/main_background.png');
     
      background-repeat: no-repeat;
      background-size: auto;
  }
}