body {
    background-image: url('../images/main_background.png');
    background-repeat: no-repeat;
    background-size: cover;
}
/*text-decoration: none removes the underline of the link */
body a{
    text-decoration: none;
}
#header {
  transition: all 0.5s;
  z-index: 997;
  padding:0px;
}

#header .logo {
  font-size: 28px;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 0.5px;
}

#header .logo img {
  max-height: 40px;
}

#header .gameLogo img {
  max-width: 250px;
  max-height: 150px;
}
.helptext{
  border-style: outset;
  border-width: 20%;
  text-align: center;
  font-weight: 700;
}
h1{
  font-size: 56px;
}
p{
  font-size: 32px;
  word-wrap: break-word;
}
@media only screen and (max-width: 1280px) {
  body {
      background-image: url('../images/main_background.png');
      background-repeat: no-repeat;
      background-size: cover;
  }
}
@media only screen and (max-width: 480px) {
  body {
      background-image: url('../images/main_background.png');
      background-repeat: no-repeat;
      background-size: cover;
  }
}
@media only screen and (max-width: 1024px) {
  body {
      background-image: url('../images/main_background.png');
      background-repeat: no-repeat;
      background-size: cover;
  }
}
@media only screen and (max-width: 767px) {
  body {
      background-image: url('../images/main_background.png');
      background-repeat: no-repeat;
      background-size: cover;
  }
}